@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  top: 0;
  left: 0;
  width: 100%;
  background-color: silver;
}

input{
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  width: 4rem;
}

input:disabled{
  background-color: rgb(243 244 246 / var(--tw-border-opacity));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
